<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="main-container">
        <div class="left-panel">
            <div class="image-container">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src="{{ url_for('static', filename='imgs/roflanebalo.jpg') }}" alt="roflanebalo"></a>
                <div class="image-sign">
                    <p>roflanebalo</p>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Roflan ToDo App</h1>
            <form id="todo-form">
                <div class="form-group">
                    <label for="todo-title">Title</label>
                    <input type="text" id="todo-title" name="title" maxlength="75" required>
                </div>
                <div class="form-group">
                    <label for="todo-description">Description</label>
                    <textarea id="todo-description" name="description" maxlength="150"></textarea>
                </div>
                <button type="submit">Add Task!</button>
            </form>
            <div class="todo-list" id="todo-list">
            </div>
        </div>
        <div class="right-panel">
            <label for="info-container">What?</label>
            <div class="info-container">
                <p id="current-date"></p>
                <p id="current-time"></p>
                <p id="day-of-week"></p>
                <p id="season"></p>
                <p id="leap-year"></p>
                <p id="suggestion"></p>
            </div>
        </div>
    </div>
    <div class="old-todos-container" id="old-todos-container">
        <div class="old-todo-list" id="old-todo-list">
        </div>
    </div>
    <div class="github-link-container">
        <a href="https://github.com/vladimirblanven/" target="_blank">Visit my GitHub</a>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
